<%= form_with(model: anime, multipart: true) do |form| %>
  <% if anime.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
        <% anime.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>
  <div>
    <%= form.label :featured_image, style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>

  <div class="field">
    <h4>Genres</h4>
    <%= form.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
      <div class= "collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
    </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
